body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.sidebar {
    background-color: #343a40;
    color: white;
    min-height: 100vh;
    padding-top: 20px;
}

.sidebar .nav-link {
    color: #fff;
}

.sidebar .nav-link.active {
    background-color: #007bff;
    color: white;
}

.user-info img {
    border: 2px solid #007bff;
}

header {
    background-color: #fff;
    box-shadow: 0 4px 2px -2px gray;
}
