{% extends 'base.html' %}

{% block content %}
    <div>
        <h2>Bienvenue dans le Dashboard</h2>
        {% if menu %}
            <p>Vous avez sélectionné le menu: {{ menu }}</p>
            <!-- Ajouter le contenu dynamique en fonction du menu ici -->
            {% if menu == "utilisateur" %}
                <h3>Liste des Utilisateurs</h3>
                <!-- Ajouter la table ou le contenu de l'utilisateur -->
            {% elif menu == "abonnement" %}
                <h3>Liste des Abonnements</h3>
                <!-- Ajouter la table ou le contenu d'abonnement -->
            {% else %}
                <p>Contenu du menu {{ menu }} est en cours de construction.</p>
            {% endif %}
        {% else %}
            <p>Sélectionnez un menu pour afficher son contenu.</p>
        {% endif %}
    </div>
{% endblock %}
